.gitignore
.folio

testing translation/
testing_translation/
_site/
.sass-cache/
.jekyll-metadata
Gemfile.lock
.DS_Store
vids2.html

test.md

vids.docx

vids.md

~$vids.docx
testing translation/gt_twolanguages.md
