---
---

// Breakpoints
$large-breakpoint: 68em;
$medium-breakpoint: 46em;

// Text
$section-headings-color: #f87b0f;
$body-text-color: #393939;
$body-link-color: #1e6bb8;
$blockquote-text-color: #393939;

// Code
$code-bg-color: #f3f6fa;
$code-text-color: #ef307e;

@import "{{ site.theme }}";

.page-header {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  padding: 3rem 1rem !important;
}

h1 {
  text-transform: uppercase;
}

img {
  max-width: 100%; }
  
.main-content blockquote {
  padding: 1.5rem 2rem;
  margin-left: 0;
  border-left: 1rem solid #f3f6fa;
}

.main-content pre code {
  color: #717681;  
}

.main-content pre {
  margin-right: 40px;
  white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

// TABLE
.main-content table th {
    font-weight:normal !important;
    display: none;
}

// ANIMATION START

.path {
  animation: draw 3.5s infinite;
}
 
 @keyframes draw {
  50% {
    stroke-dashoffset: 0;
  }
}

// ANIMATION END

#markdown-toc {
  /* Chrome, Safari, Opera */
  -webkit-columns: 2 250px;
  -webkit-column-gap: 40px;
  -webkit-column-rule: 3px dotted #eff0f1;
  /* Firefox */
  -moz-columns: 2 250px;
  -moz-column-gap: 40px;
  -moz-column-rule: 3px dotted #eff0f1;
  /* Rest */
  column-gap: 40px;
  columns: 2 250px;
  column-rule: 2px dashed #eff0f1;
}

#markdown-toc {
  margin-left: -3em;
}

#markdown-toc li {
  margin-left: 3em;
}

#markdown-toc li ul {
  margin-left: -3em;
}