---
---

@import 'jekyll-theme-cayman';

.page-header {
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    padding: 3rem 1rem !important;
}

h1 {
  text-transform: uppercase;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #f87b0f;
}